<% className = form_action.delete(:class) %>
<%= form_tag(form_action, :id => "#{form_type}_form", :enctype => "multipart/form-data", :class => className) do %>

  <%= render :partial => "form" %>

<% end %>
<% if @UserIsAdmin then %>
  <form id="merge_form" action="/admin/content/merge/<%=form_action[:id]%>" method="post">
    <h3>Merge Articles</h3>
    <input name="other_article_id" type="text" value="" />
    <input name="Merge" type="submit" type="submit" value="Merge" />
  </form>
<% end %>
